In [1]:
#!pip install pyspark
#!pip install fastapi
#!pip install findspark

In [1]:
import pyspark
from pyspark.sql import SparkSession
import os

sparkHome = "/home/pablo/hadoop/spark-3.5.0-bin-hadoop3"
os.environ['SPARK_HOME'] = sparkHome

javaHome = "/opt/openjdk-bin-17.0.7_p7"
os.environ['JAVA_HOME'] = javaHome

path = "/home/pablo/hadoop/spark-3.5.0-bin-hadoop3/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/opt/bin:/usr/lib/llvm/16/bin:/usr/lib/llvm/14/bin"

os.environ['PATH'] = f'{sparkHome}/bin:{os.environ["PATH"]}'

In [2]:
#from pyspark.sql import SparkSession
#spark = SparkSession.builder.config("spark.jars", "mysql-connector-java-8.0.17-sources").getOrCreate()
spark = SparkSession.builder.getOrCreate()

23/09/25 17:24:24 WARN Utils: Your hostname, gentoo resolves to a loopback address: 127.0.0.1; using 192.168.0.199 instead (on interface br0)
23/09/25 17:24:24 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
23/09/25 17:24:25 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
23/09/25 17:24:25 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.

In [3]:
#from fastapi import FastAPI
from pyspark.sql.functions import col, sum, lower, lit, when, avg, count, isnan, to_date, date_format

In [4]:
spark

In [5]:
# leer los archivos CSV como dataframes

dataFrame1 = spark.read.csv("ratings/1.csv", header=True)
dataFrame2 = spark.read.csv("ratings/2.csv", header=True)
dataFrame3 = spark.read.csv("ratings/3.csv", header=True)
dataFrame4 = spark.read.csv("ratings/4.csv", header=True)
dataFrame5 = spark.read.csv("ratings/5.csv", header=True)
dataFrame6 = spark.read.csv("ratings/6.csv", header=True)
dataFrame7 = spark.read.csv("ratings/7.csv", header=True)
dataFrame8 = spark.read.csv("ratings/8.csv", header=True)

In [6]:
# unir dataframe

ratings = dataFrame1.union(dataFrame2).union(dataFrame3).union(dataFrame4).union(dataFrame5).union(dataFrame6).union(dataFrame7).union(dataFrame8)
ratings = ratings.repartition(1)

In [7]:
ratings.columns

['userId', 'rating', 'timestamp', 'movieId']

In [8]:
# muestra aleatoria

ratings.sample(False, 3/ratings.count(), seed=300).limit(3).pandas_api()

/home/pablo/.local/share/virtualenvs/workSpace-Bwo4fINe/lib/python3.11/site-packages/pyspark/pandas/__init__.py:50: UserWarning: 'PYARROW_IGNORE_TIMEZONE' environment variable was not set. It is required to set this environment variable to '1' in both driver and executor sides if you use pyarrow>=2.0.0. pandas-on-Spark will set it for you but it does not work if there is a Spark context already launched.
  warnings.warn(

  userId rating   timestamp movieId
0   3385    3.0  1085689557  as8911
1  35233    5.0  1442261213  ns8531
2  65711    4.5  1056975466   ds227

In [9]:
ratings.count()

11024289

In [10]:
#Transformar a minusculas nombre columnas ratings

ratings = ratings.withColumnRenamed("userId", "userid").withColumnRenamed("movieId", "movieid")

In [11]:
ratings_scored = ratings.groupBy("movieId").agg(avg("rating").alias("scored"))

In [12]:
#Transformar a minusculas nombre columnas ratings

ratings_scored = ratings_scored.withColumnRenamed("movieId", "movieid")

In [13]:
ratings_scored.count()

22998

In [14]:
# muestra aleatoria

ratings_scored.sample(False, 3/ratings_scored.count(), seed=0).limit(3).pandas_api()

  movieid    scored
0  ns3674  3.593220
1  as2747  3.586820
2  ns7587  3.490546

In [15]:
# transformar el campo rating de tipo de dato string a tippo de dato a float 32 bits

ratings = ratings.withColumn('rating', col('rating').cast('float'))

In [16]:
for col in ratings.columns:
    print(col, "El tipo de dato del campo:", ratings.schema[col].dataType)

userid El tipo de dato del campo: StringType()
rating El tipo de dato del campo: FloatType()
timestamp El tipo de dato del campo: StringType()
movieid El tipo de dato del campo: StringType()

In [17]:
# renombrar el nombre de la columna rating en el ratings con el nombre de scored

ratings = ratings.withColumnRenamed('rating', 'scored')

In [18]:
#listar valores nulos por columna
from pyspark.sql.functions import col, sum

ratings.select(*(sum(col(c).isNull().cast('int')).alias(c) for c in ratings.columns)).pandas_api()

   userid  scored  timestamp  movieid
0       0       0          0        0

In [19]:
# listar dimensiones de dataframe ratings

num_filas = ratings.count()
num_columnas = len(ratings.columns)
print("Las dimensiones del DataFrame ratings son: ({}, {})".format(num_filas, num_columnas))

Las dimensiones del DataFrame ratings son: (11024289, 4)

In [20]:
# agregar columna plataform a dataframe 

titles1 = spark.read.csv("titles/amazon_prime_titles.csv", header=True)
titles1 = titles1.withColumn("platform", lit("amazon"))
titles2 = spark.read.csv("titles/disney_plus_titles.csv", header=True)
titles2 = titles2.withColumn("platform", lit("disney"))
titles3 = spark.read.csv("titles/hulu_titles.csv", header=True)
titles3 = titles3.withColumn("platform", lit("hulu"))
titles4 = spark.read.csv("titles/netflix_titles.csv", header=True)
titles4 = titles4.withColumn("platform", lit("netflix"))

In [21]:
# Generar campo id: Cada id se compondrá de la primera letra del nombre de la plataforma, seguido del show_id

from pyspark.sql.functions import concat, lit, col

titles1 = titles1.withColumn("show_id", concat(lit("a"), col("show_id")))
titles2 = titles2.withColumn("show_id", concat(lit("d"), col("show_id")))
titles3 = titles3.withColumn("show_id", concat(lit("h"), col("show_id")))
titles4 = titles4.withColumn("show_id", concat(lit("n"), col("show_id")))

In [22]:
# unir dataframes

titles = titles1.union(titles2).union(titles3).union(titles4)
titles = titles.repartition(1)

In [23]:
print(titles.columns)

['show_id', 'type', 'title', 'director', 'cast', 'country', 'date_added', 'release_year', 'rating', 'duration', 'listed_in', 'description', 'platform']

In [24]:
# Renombrar "type" por "show_type"
titles = titles.withColumnRenamed("type", "show_type")

In [25]:
# muestra aleatoria

titles.sample(False, 3/titles.count(), seed=150).limit(3).pandas_api()

  show_id show_type                  title             director                                                                                   cast        country     date_added release_year rating duration      listed_in                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                               description platform
0    as97     Movie               Wildlike     Frank Hall Green                                          Bruce Greenwood, Ella Purnell, Brian Geraghty           None           None         2021    16+  104 min  Action, Drama                                                                                                                                                                                                                                                                                                                                                                                                                  An unlikely friendship forms in the spectacular Alaskan wilderness, giving a runaway girl hope and sanctuary in America's last frontier.   amazon
1  as3007     Movie  Bold Caballero (1936)           Wells Root  Robert Livingston, Heather Angel, Sig Ruman, Ian Wolfe, Robert Warwick, Emily Fitzroy           None           None         1936    13+   69 min        Western  Don Diego once again dons the disguise of Zorro to fight for the poor people of California against the ruthless Commandante. Shortly after the Governor and his daughter Isabella arrive, the Governor is killed and the Commandante blames Zorro for the murder. Isabella accidentally discovers that Don Diego is really Zorro, and she has the Commandante arrest him for her father's murder. But Don Diego provides evidence of his innocence and Commandante's guilt in the crime, and the two then work together to overthrow the local dictator.   amazon
2  ns7039     Movie             I Am Maris  Laura VanZee Taylor                                                                          Maris Degener  United States  April 1, 2019         2018  TV-14   54 min  Documentaries                                                                                                                                                                                                                                                                                                                                                                                                          Through her own words and art, a young woman details the healing power of yoga in her struggle with anorexia and her journey to self-acceptance.  netflix

In [26]:
# listar dimensiones dataframe titles

numeroColumnasTitles = len(titles.columns)
numeroFilasTitles = titles.count()
print("Las dimensiones del DataFrame titles es de: ({}, {})".format(numeroFilasTitles, numeroColumnasTitles))

Las dimensiones del DataFrame titles es de: (23036, 13)

In [27]:
# listar valores nulos por columna

titles.select(*(sum(col(c).isNull().cast('int')).alias(c) for c in titles.columns)).pandas_api()

   show_id  show_type  title  director  cast  country  date_added  release_year  rating  duration  listed_in  description  platform
0        0         18     29      8291  5354    11480        9547            53     914       531         51           53         0

In [28]:
# eliminar fila nula, excepto show_id y columnas generadas

titles = titles.na.drop(subset=['show_type'])

In [29]:
#listar valores nulos por columna

titles.select(*(sum(col(c).isNull().cast('int')).alias(c) for c in titles.columns)).pandas_api()

   show_id  show_type  title  director  cast  country  date_added  release_year  rating  duration  listed_in  description  platform
0        0          0     11      8273  5336    11462        9529            35     896       513         33           35         0

Los valores nulos del campo rating deberán reemplazarse por el string “G” (corresponde al maturity rating: “general for all audiences”

In [30]:
titles = titles.fillna({"rating": "G"})

In [31]:
#listar valores nulos por columna

titles.select(*(sum(col(c).isNull().cast('int')).alias(c) for c in titles.columns)).pandas_api()

   show_id  show_type  title  director  cast  country  date_added  release_year  rating  duration  listed_in  description  platform
0        0          0     11      8273  5336    11462        9529            35       0       513         33           35         0

In [32]:
# Remplazar valores nulos de todo el titles por ''

titles = titles.select([when(col(c).isNull(), '').otherwise(col(c)).alias(c) if c != 'id' else col(c) for c in titles.columns])

In [33]:
#listar valores nulos por columna

titles.select(*(sum(col(c).isNull().cast('int')).alias(c) for c in titles.columns)).pandas_api()

   show_id  show_type  title  director  cast  country  date_added  release_year  rating  duration  listed_in  description  platform
0        0          0      0         0     0        0           0             0       0         0          0            0         0

In [34]:
# muestra aleatoria

titles.sample(False, 3/titles.count(), seed=100).limit(3).pandas_api()

  show_id show_type                                    title          director                                                                                                                                cast        country        date_added release_year rating duration                         listed_in                                                                                                                                                                                                                                                                                                                                                                                                       description platform
0   as984     Movie                        Sketchy Behaviour      Neville Shah                                                                                                       Kanan Gill, Kenneth Sebastian          India                           2019  PG-13   64 min  Arts, Entertainment, and Culture  Sketchy Behaviour is an absurd sketch comedy show filmed live in Mumbai. Described as hilarious, complex, stupid, irritating(and ‘sardonic’ by one lady in Goa) the show is familiar, bizarre and hysterically funny. Featuring six very silly live sketches, stitched together by a much sillier story and bookended by an extremely silly opening and closing, Sketchy Behaviour is truly a work of something.   amazon
1  as8743     Movie                 Hangover in Death Valley       Gideon Quin                                                 Michael Madsen, Steve Guttenberg, Patrick Bergin, Sylvester McCoy, Robert Llewellyn                                          2019    18+   73 min         Action, Adventure, Horror                                                                                                                                  Hangover in Death Valley is a roller coaster story like no other as two Las Vegas entertainers mysteriously find themselves in the town of El Dorado. Will they be eaten alive by the town's occupants or will they manage to escape? One thing's for sure, you'll die laughing.   amazon
2  ns8184     Movie  The Adventures of Sharkboy and Lavagirl  Robert Rodriguez  Taylor Lautner, Taylor Dooley, Cayden Boyd, George Lopez, David Arquette, Kristin Davis, Jacob Davich, Sasha Pieterse, Rico Torres  United States  December 2, 2020         2005     PG   93 min          Children & Family Movies                                                                                                                                                                                                                                                              A 10-year-old dreamer's imaginary friends – mighty Sharkboy and fire-producing Lavagirl – come to life to seek his help battling a nefarious baddie.  netflix

In [35]:
# muestra aleatoria

titles.sample(False, 3/titles.count(), seed=150).limit(3).pandas_api()

  show_id show_type                     title          director                                                                                              cast                country         date_added release_year rating duration                                                   listed_in                                                                                                                                                                                  description platform
0    as97     Movie                  Wildlike  Frank Hall Green                                                     Bruce Greenwood, Ella Purnell, Brian Geraghty                                                   2021    16+  104 min                                               Action, Drama                                                     An unlikely friendship forms in the spectacular Alaskan wilderness, giving a runaway girl hope and sanctuary in America's last frontier.   amazon
1  as3014     Movie  Bob Saget: Zero To Sixty       Jay Chapman                                                                                         Bob Saget                                                   2017      G   65 min  Arts, Entertainment, and Culture, Comedy, Special Interest  Bob Saget declares himself to be the last TV father you can trust in this R'ish rated hour of entertaining stories, riffing with the audience, words of wisdom & new original comedy songs.   amazon
2  ns7056     Movie                      Igor      Tony Leondis  John Cusack, Steve Buscemi, Sean Hayes, Molly Shannon, Eddie Izzard, Jennifer Coolidge, Jay Leno  United States, France  September 1, 2019         2008     PG   87 min                                    Children & Family Movies                                        Igor, the brilliant but deformed assistant to mad Dr. Glickenstein, dreams of winning the Evil Science Fair and the heart of village beauty Gretchen.  netflix

In [36]:


# contar el número de valores nulos en cada columna
titles.select([count(when(isnan(c) | col(c).isNull(), c)).alias(c) for c in titles.columns]).pandas_api()

   show_id  show_type  title  director  cast  country  date_added  release_year  rating  duration  listed_in  description  platform
0        0          0      0         0     0        0           0             0       0         0          0            0         0

In [37]:
#listar valores nulos por columna

titles.select(*(sum(col(c).isNull().cast('int')).alias(c) for c in titles.columns)).pandas_api()

   show_id  show_type  title  director  cast  country  date_added  release_year  rating  duration  listed_in  description  platform
0        0          0      0         0     0        0           0             0       0         0          0            0         0

In [38]:
# muestra aleatoria

titles.sample(False, 3/titles.count(), seed=150).limit(3).pandas_api()

  show_id show_type                     title          director                                                                                              cast                country         date_added release_year rating duration                                                   listed_in                                                                                                                                                                                  description platform
0    as97     Movie                  Wildlike  Frank Hall Green                                                     Bruce Greenwood, Ella Purnell, Brian Geraghty                                                   2021    16+  104 min                                               Action, Drama                                                     An unlikely friendship forms in the spectacular Alaskan wilderness, giving a runaway girl hope and sanctuary in America's last frontier.   amazon
1  as3014     Movie  Bob Saget: Zero To Sixty       Jay Chapman                                                                                         Bob Saget                                                   2017      G   65 min  Arts, Entertainment, and Culture, Comedy, Special Interest  Bob Saget declares himself to be the last TV father you can trust in this R'ish rated hour of entertaining stories, riffing with the audience, words of wisdom & new original comedy songs.   amazon
2  ns7056     Movie                      Igor      Tony Leondis  John Cusack, Steve Buscemi, Sean Hayes, Molly Shannon, Eddie Izzard, Jennifer Coolidge, Jay Leno  United States, France  September 1, 2019         2008     PG   87 min                                    Children & Family Movies                                        Igor, the brilliant but deformed assistant to mad Dr. Glickenstein, dreams of winning the Evil Science Fair and the heart of village beauty Gretchen.  netflix

In [39]:
# cambiar el formato del campo date_added a AAAA-mm-dd

spark.conf.set("spark.sql.legacy.timeParserPolicy","LEGACY")

titles = titles.withColumn("date_added", date_format(to_date("date_added", "MMMM d, yyyy"), "yyyy-MM-dd"))

In [40]:
# muestra aleatoria

titles.sample(False, 3/titles.count(), seed=100).limit(3).pandas_api()

  show_id show_type                                    title          director                                                                                                                                cast        country  date_added release_year rating duration                         listed_in                                                                                                                                                                                                                                                                                                                                                                                                       description platform
0   as984     Movie                        Sketchy Behaviour      Neville Shah                                                                                                       Kanan Gill, Kenneth Sebastian          India        None         2019  PG-13   64 min  Arts, Entertainment, and Culture  Sketchy Behaviour is an absurd sketch comedy show filmed live in Mumbai. Described as hilarious, complex, stupid, irritating(and ‘sardonic’ by one lady in Goa) the show is familiar, bizarre and hysterically funny. Featuring six very silly live sketches, stitched together by a much sillier story and bookended by an extremely silly opening and closing, Sketchy Behaviour is truly a work of something.   amazon
1  as8743     Movie                 Hangover in Death Valley       Gideon Quin                                                 Michael Madsen, Steve Guttenberg, Patrick Bergin, Sylvester McCoy, Robert Llewellyn                       None         2019    18+   73 min         Action, Adventure, Horror                                                                                                                                  Hangover in Death Valley is a roller coaster story like no other as two Las Vegas entertainers mysteriously find themselves in the town of El Dorado. Will they be eaten alive by the town's occupants or will they manage to escape? One thing's for sure, you'll die laughing.   amazon
2  ns8184     Movie  The Adventures of Sharkboy and Lavagirl  Robert Rodriguez  Taylor Lautner, Taylor Dooley, Cayden Boyd, George Lopez, David Arquette, Kristin Davis, Jacob Davich, Sasha Pieterse, Rico Torres  United States  2020-12-02         2005     PG   93 min          Children & Family Movies                                                                                                                                                                                                                                                              A 10-year-old dreamer's imaginary friends – mighty Sharkboy and fire-producing Lavagirl – come to life to seek his help battling a nefarious baddie.  netflix

In [41]:
for col in titles.columns:
    print(col, "es de tipo", titles.schema[col].dataType)

show_id es de tipo StringType()
show_type es de tipo StringType()
title es de tipo StringType()
director es de tipo StringType()
cast es de tipo StringType()
country es de tipo StringType()
date_added es de tipo StringType()
release_year es de tipo StringType()
rating es de tipo StringType()
duration es de tipo StringType()
listed_in es de tipo StringType()
description es de tipo StringType()
platform es de tipo StringType()

In [42]:
#Transformar a minusculas

columnas = titles.columns

for columna in columnas:
    titles = titles.withColumn(columna, lower(columna))

In [43]:
from pyspark.sql.functions import col as c

titles = titles.withColumn('release_year', c('release_year').cast('integer'))

In [44]:
from pyspark.sql.functions import col, to_date

# Convertir la columna 'fecha' a formato fecha yyyy-MM-dd
titles = titles.withColumn('date_added', to_date(col('date_added'), 'yyyy-MM-dd'))

In [45]:
# muestra aleatoria

titles.sample(False, 3/titles.count(), seed=100).limit(3).pandas_api()

  show_id show_type                                    title          director                                                                                                                                cast        country  date_added  release_year rating duration                         listed_in                                                                                                                                                                                                                                                                                                                                                                                                       description platform
0   as984     movie                        sketchy behaviour      neville shah                                                                                                       kanan gill, kenneth sebastian          india        None          2019  pg-13   64 min  arts, entertainment, and culture  sketchy behaviour is an absurd sketch comedy show filmed live in mumbai. described as hilarious, complex, stupid, irritating(and ‘sardonic’ by one lady in goa) the show is familiar, bizarre and hysterically funny. featuring six very silly live sketches, stitched together by a much sillier story and bookended by an extremely silly opening and closing, sketchy behaviour is truly a work of something.   amazon
1  as8743     movie                 hangover in death valley       gideon quin                                                 michael madsen, steve guttenberg, patrick bergin, sylvester mccoy, robert llewellyn                       None          2019    18+   73 min         action, adventure, horror                                                                                                                                  hangover in death valley is a roller coaster story like no other as two las vegas entertainers mysteriously find themselves in the town of el dorado. will they be eaten alive by the town's occupants or will they manage to escape? one thing's for sure, you'll die laughing.   amazon
2  ns8184     movie  the adventures of sharkboy and lavagirl  robert rodriguez  taylor lautner, taylor dooley, cayden boyd, george lopez, david arquette, kristin davis, jacob davich, sasha pieterse, rico torres  united states  2020-12-02          2005     pg   93 min          children & family movies                                                                                                                                                                                                                                                              a 10-year-old dreamer's imaginary friends – mighty sharkboy and fire-producing lavagirl – come to life to seek his help battling a nefarious baddie.  netflix

In [46]:
# convertir duration en dos campos: duration_int y duration_type

from pyspark.sql.functions import split

titles = titles.withColumn("duration_int", split("duration", " ")[0])
titles = titles.withColumn("duration_type", split("duration", " ")[1])

In [47]:
# muestra aleatoria

titles.sample(False, 3/titles.count(), seed=100).limit(3).pandas_api()

  show_id show_type                                    title          director                                                                                                                                cast        country  date_added  release_year rating duration                         listed_in                                                                                                                                                                                                                                                                                                                                                                                                       description platform duration_int duration_type
0   as984     movie                        sketchy behaviour      neville shah                                                                                                       kanan gill, kenneth sebastian          india        None          2019  pg-13   64 min  arts, entertainment, and culture  sketchy behaviour is an absurd sketch comedy show filmed live in mumbai. described as hilarious, complex, stupid, irritating(and ‘sardonic’ by one lady in goa) the show is familiar, bizarre and hysterically funny. featuring six very silly live sketches, stitched together by a much sillier story and bookended by an extremely silly opening and closing, sketchy behaviour is truly a work of something.   amazon           64           min
1  as8743     movie                 hangover in death valley       gideon quin                                                 michael madsen, steve guttenberg, patrick bergin, sylvester mccoy, robert llewellyn                       None          2019    18+   73 min         action, adventure, horror                                                                                                                                  hangover in death valley is a roller coaster story like no other as two las vegas entertainers mysteriously find themselves in the town of el dorado. will they be eaten alive by the town's occupants or will they manage to escape? one thing's for sure, you'll die laughing.   amazon           73           min
2  ns8184     movie  the adventures of sharkboy and lavagirl  robert rodriguez  taylor lautner, taylor dooley, cayden boyd, george lopez, david arquette, kristin davis, jacob davich, sasha pieterse, rico torres  united states  2020-12-02          2005     pg   93 min          children & family movies                                                                                                                                                                                                                                                              a 10-year-old dreamer's imaginary friends – mighty sharkboy and fire-producing lavagirl – come to life to seek his help battling a nefarious baddie.  netflix           93           min

In [48]:
for col in titles.columns:
    print(col, 'El tipo de dato es:', titles.schema[col].dataType)

show_id El tipo de dato es: StringType()
show_type El tipo de dato es: StringType()
title El tipo de dato es: StringType()
director El tipo de dato es: StringType()
cast El tipo de dato es: StringType()
country El tipo de dato es: StringType()
date_added El tipo de dato es: DateType()
release_year El tipo de dato es: IntegerType()
rating El tipo de dato es: StringType()
duration El tipo de dato es: StringType()
listed_in El tipo de dato es: StringType()
description El tipo de dato es: StringType()
platform El tipo de dato es: StringType()
duration_int El tipo de dato es: StringType()
duration_type El tipo de dato es: StringType()

In [49]:
print(titles.columns)

['show_id', 'show_type', 'title', 'director', 'cast', 'country', 'date_added', 'release_year', 'rating', 'duration', 'listed_in', 'description', 'platform', 'duration_int', 'duration_type']

In [50]:
tableA = titles.select("show_id","show_type", "title","cast","country","release_year", "rating","platform","duration_int")

In [51]:
tableA = tableA.filter((tableA["show_id"] == "") | tableA["show_id"].cast("string").isNotNull())
tableA = tableA.filter((tableA["show_type"] == "") | tableA["show_type"].cast("string").isNotNull())
tableA = tableA.filter((tableA["title"] == "") | tableA["title"].cast("string").isNotNull())
tableA = tableA.filter((tableA["cast"] == "") | tableA["cast"].cast("string").isNotNull())
tableA = tableA.filter((tableA["country"] == "") | tableA["country"].cast("string").isNotNull())
tableA = tableA.filter((tableA["release_year"] == "") | tableA["release_year"].cast("int").isNotNull())
tableA = tableA.filter((tableA["rating"] == "") | tableA["rating"].cast("string").isNotNull())
tableA = tableA.filter((tableA["platform"] == "") | tableA["platform"].cast("string").isNotNull())
tableA = tableA.filter((tableA["duration_int"] == "") | tableA["duration_int"].cast("int").isNotNull())

In [52]:
# muestra aleatoria

tableA.sample(False, 100/tableA.count(), seed=10).limit(3).pandas_api()

  show_id show_type                        title                                                                                                                                                                                                                                                                                                                cast country  release_year rating platform duration_int
0   as108     movie                       whoop!                                                                                                                                                                                                                                                                                                        abish mathew   india          2018    18+   amazon           64
1   as268   tv show  trapped [english subtitled]                                                                                                                                                                                                                                                                                                                                      2019  tv-14   amazon            2
2   as470   tv show                    the remix  akhil talreja, amit trivedi, karan tacker, kryll, sreeram chandra, thomson andrews, prakriti kakar, kiran kamath, megha kawale, nawed khan, manasi scott, nsg, sureal, rashmeet kaur, anirudh bhola, akasa singh, nucleya, candice redding, sunidhi chauhan, rink, sonam topden, skip, yash narvekar, rupali jagga   india          2018    13+   amazon            1

In [53]:
import pyspark.pandas as ps

In [54]:
tableAPandas = tableA.toPandas()

In [56]:
tableAPandas.to_csv('tableA.csv', index=False)

In [57]:
import sqlite3

In [58]:
# Nombre del archivo de la base de datos SQLite
sqlite_db = "Database.db"

# Escribe el DataFrame de Pandas en la base de datos SQLite
conn = sqlite3.connect(sqlite_db)
tableAPandas.to_sql("tableA", conn, if_exists="replace", index=False)
#df.to_sql("mi_tabla", conn, if_exists="replace", index=False)

conn.close()

print(f"Base de datos SQLite '{sqlite_db}' creada y datos insertados.")

Base de datos SQLite 'Database.db' creada y datos insertados.

In [59]:
import mysql.connector
from mysql.connector import errorcode

In [60]:
import mysql.connector
from mysql.connector import errorcode

# Configura la conexión al servidor MySQL (sin especificar una base de datos)
try:
    conn = mysql.connector.connect(
        host='localhost',     # Reemplaza con la dirección del servidor de MySQL
        user='root',          # Reemplaza con tu nombre de usuario de MySQL
        password='patacon'    # Reemplaza con tu contraseña de MySQL
    )

    # Crea la base de datos si no existe
    cursor = conn.cursor()
    cursor.execute("CREATE DATABASE IF NOT EXISTS streaming_mysql")
    conn.commit()
    cursor.close()

    # Cierra la conexión temporal al servidor MySQL
    conn.close()

except mysql.connector.Error as err:
    if err.errno == errorcode.ER_ACCESS_DENIED_ERROR:
        print("Error: Acceso denegado. Verifica tus credenciales de MySQL.")
    else:
        print(f"Error: {err}")

# Luego de crear la base de datos, puedes continuar con el código anterior para escribir el DataFrame
# en la tabla de la base de datos MySQL.

In [61]:
import pymysql
from sqlalchemy import create_engine

In [62]:
cadenaConexion = "mysql+pymysql://root:patacon@localhost:3306/streaming_mysql"
conexion = create_engine(cadenaConexion)

In [64]:
tableAPandas.to_sql(name = "tableA", con = conexion)

22922

In [ ]:
query_02 = ratings_scored.join(titles, ratings_scored.movieid == titles.show_id, how="inner").select(ratings_scored.scored, titles.show_type, titles.release_year, titles.platform)

In [ ]:
# muestra aleatoria

query_02.sample(False, 3/query_02.count(), seed=10).limit(3).pandas_api()

In [ ]:
query_02.write.format("csv").mode('overwrite').option("header", "true").save("query_02")

In [ ]:
query_02.count()

In [ ]:
#from pyspark.sql.functions import avg

#dataFrame = dataFrameSistemaDeRecomendacionReducido.groupBy('movieid').agg(avg('scored').alias('promedioScored'))

In [ ]:
# cantidad de peliculas y series

#dataFrameSistemaDeRecomendacion.select(col('movieid')).distinct().count()

In [ ]:
#dataFrameSistemaDeRecomendacion.columns

In [ ]:
# agrupar por movieid y obtener frecuecia

from pyspark.sql.functions import count
from pyspark.sql.functions import max

#cantidadVistasMovieId = dataFrameSistemaDeRecomendacion.groupBy("movieid").agg(count("*").alias("cantidad"))

In [ ]:
# calcular rango intercuatilico

from pyspark.sql.functions import col, expr
from pyspark.sql.window import Window

primerCuartil, tercerCuartil = cantidadVistasMovieId.approxQuantile('cantidad', [0.25, 0.75], 0.01)
rangoIntercuartilico = tercerCuartil - primerCuartil

In [ ]:
print('Primer Caurtil', primerCuartil , 'Tercer Cuartil',tercerCuartil)

In [ ]:
primerCuartil

In [ ]:
limiteInferior = primerCuartil - 1.5 * rangoIntercuartilico
limiteSuperior = tercerCuartil + 1.5 * rangoIntercuartilico

In [ ]:
# calcular cantidad de valores atipicos

valoresAtipicos = cantidadVistasMovieId.filter(expr("cantidad > {0} or cantidad < {1}".format(limiteSuperior, limiteInferior)))
valoresAtipicos.count()

In [ ]:
# movieid a eliminar con frecuencias inferiores a 419

limiteInferior

In [ ]:
# cantidad de movieid inferiores al limite inferior

valoresAtipicosDescartar = cantidadVistasMovieId.filter(expr("cantidad < {0}".format(limiteInferior)))
print('Cantidad de valores atipicos mas bajos al limite inferior:',valoresAtipicosDescartar.count())

In [ ]:
# listar la frecuencia de movieid y eliminar movieid con una frecuencia menor a 419

from pyspark.sql.functions import count

frecuencia = dataFrameSistemaDeRecomendacion.groupBy("movieid").agg(count("*").alias("frequency"))
frecuencia = frecuencia.filter("frequency >= 419")
dataFrameSistemaDeRecomendacionReducido = dataFrameSistemaDeRecomendacion.join(frecuencia, "movieid", "inner").drop("frequency")

In [ ]:
# lineas dataFrameSistemaDeRecomendacion

dataFrameSistemaDeRecomendacion.count()

In [ ]:
# lineas dataFrameSistemaDeRecomendacionReducido

dataFrameSistemaDeRecomendacionReducido.count()

In [ ]:
# Agrupar por movieid y obtener el promedio de scored

from pyspark.sql.functions import avg

dataFrameSistemaDeRecomendacionFinal = dataFrameSistemaDeRecomendacionReducido.groupBy('movieid').agg(avg('scored').alias('promedioScored'))

In [ ]:
dataFrameSistemaDeRecomendacionFinal.count()

In [ ]:
import matplotlib.pyplot as plt

# extraer la columna 'rating' como una lista
ratings = dataFrameSistemaDeRecomendacion.select('rating').rdd.flatMap(lambda x: x).collect()

# mostrar el histograma de la columna
plt.hist(ratings, bins=5)

plt.title('Distribución de calificaciones')
plt.show()

In [ ]:
dataFrameSistemaDeRecomendacionFinal.columns

In [ ]:
dataFrameSistemaDeRecomendacionFinalPandas =dataFramePromedioScored.toPandas()

In [ ]:
reducido.dtypes

In [ ]:
import pickle
from pyspark.sql.functions import udf
from pyspark.sql.types import BinaryType

# Función definida por el usuario para serializar el DataFrame
def pickle_serialize(dataFrameSistemaDeRecomendacionFinal):
    return pickle.dumps(dataFrameSistemaDeRecomendacionFinal)

# Registro de la función udf en PySpark
pickle_udf = udf(pickle_serialize, BinaryType())

# Agregamos una nueva columna al DataFrame con el objeto serializado
dataFrameSistemaDeRecomendacionFinal = dataFrameSistemaDeRecomendacionFinal.withColumn("serialized", pickle_udf(dataFrameSistemaDeRecomendacionFinal))

# Escribimos el DataFrame a un archivo de texto
dataFrameSistemaDeRecomendacionFinal.select("serialized").write.text("dataFrameSistemaDeRecomendacionFinal.pickle")