In [1]:
# importar módulos

import os
import pyspark
import pyspark.pandas as ps
from pyspark.sql import SparkSession
from pyspark import SparkFiles
from pyspark.sql.functions import col, sum, lower, lit, when, avg, count, isnan, to_date, date_format

/home/pablo/.local/share/virtualenvs/workSpace-Bwo4fINe/lib/python3.11/site-packages/pyspark/pandas/__init__.py:50: UserWarning: 'PYARROW_IGNORE_TIMEZONE' environment variable was not set. It is required to set this environment variable to '1' in both driver and executor sides if you use pyarrow>=2.0.0. pandas-on-Spark will set it for you but it does not work if there is a Spark context already launched.
  warnings.warn(

In [45]:
# definir variables de entorno

sparkHome = "/home/pablo/hadoop/spark-3.5.0-bin-hadoop3"
os.environ['SPARK_HOME'] = sparkHome

javaHome = "/opt/openjdk-bin-17.0.7_p7"
os.environ['JAVA_HOME'] = javaHome

path = "/home/pablo/hadoop/spark-3.5.0-bin-hadoop3/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/opt/bin:/usr/lib/llvm/16/bin:/usr/lib/llvm/14/bin"

os.environ['PATH'] = f'{sparkHome}/bin:{os.environ["PATH"]}'

In [2]:
# crear sesión

spark = SparkSession.builder.getOrCreate()

23/09/25 14:49:05 WARN Utils: Your hostname, gentoo resolves to a loopback address: 127.0.0.1; using 192.168.0.199 instead (on interface br0)
23/09/25 14:49:05 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
23/09/25 14:49:05 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [3]:
spark

In [4]:
# url 

url1 = "https://gitlab.com/perico3372/data/-/raw/main/streaming/ratings_01.csv"
url2 = "https://gitlab.com/perico3372/data/-/raw/main/streaming/ratings_02.csv"
url3 = "https://gitlab.com/perico3372/data/-/raw/main/streaming/ratings_03.csv"
url4 = "https://gitlab.com/perico3372/data/-/raw/main/streaming/ratings_04.csv"
url5 = "https://gitlab.com/perico3372/data/-/raw/main/streaming/ratings_05.csv"
url6 = "https://gitlab.com/perico3372/data/-/raw/main/streaming/ratings_06.csv"
url7 = "https://gitlab.com/perico3372/data/-/raw/main/streaming/ratings_07.csv"
url8 = "https://gitlab.com/perico3372/data/-/raw/main/streaming/ratings_08.csv"

In [5]:
# agregar archivos al contexto

spark.sparkContext.addFile(url1)
spark.sparkContext.addFile(url2)
spark.sparkContext.addFile(url3)
spark.sparkContext.addFile(url4)
spark.sparkContext.addFile(url5)
spark.sparkContext.addFile(url6)
spark.sparkContext.addFile(url7)
spark.sparkContext.addFile(url8)

ERROR:root:KeyboardInterrupt while sending command.
Traceback (most recent call last):
  File "/home/pablo/.local/share/virtualenvs/workSpace-Bwo4fINe/lib/python3.11/site-packages/py4j/java_gateway.py", line 1038, in send_command
    response = connection.send_command(command)
               ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/home/pablo/.local/share/virtualenvs/workSpace-Bwo4fINe/lib/python3.11/site-packages/py4j/clientserver.py", line 511, in send_command
    answer = smart_decode(self.stream.readline()[:-1])
                          ^^^^^^^^^^^^^^^^^^^^^^
  File "/usr/lib/python3.11/socket.py", line 706, in readinto
    return self._sock.recv_into(b)
           ^^^^^^^^^^^^^^^^^^^^^^^
KeyboardInterrupt

KeyboardInterrupt:

In [ ]:
# dataframes ratings

dataFrame1 = spark.read.csv(SparkFiles.get("ratings_01.csv"), header=True, inferSchema=True)
dataFrame2 = spark.read.csv(SparkFiles.get("ratings_02.csv"), header=True, inferSchema=True)
dataFrame3 = spark.read.csv(SparkFiles.get("ratings_03.csv"), header=True, inferSchema=True)
dataFrame4 = spark.read.csv(SparkFiles.get("ratings_04.csv"), header=True, inferSchema=True)
dataFrame5 = spark.read.csv(SparkFiles.get("ratings_05.csv"), header=True, inferSchema=True)
dataFrame6 = spark.read.csv(SparkFiles.get("ratings_06.csv"), header=True, inferSchema=True)
dataFrame7 = spark.read.csv(SparkFiles.get("ratings_07.csv"), header=True, inferSchema=True)
dataFrame8 = spark.read.csv(SparkFiles.get("ratings_08.csv"), header=True, inferSchema=True)

In [ ]:
# unir dataframe

ratings = dataFrame1.union(dataFrame2).union(dataFrame3).union(dataFrame4).union(dataFrame5).union(dataFrame6).union(dataFrame7).union(dataFrame8)
ratings = ratings.repartition(1)

In [ ]:
ratings.columns

In [ ]:
# muestra aleatoria

ratings.sample(False, 3/ratings.count(), seed=300).limit(3).pandas_api()

In [ ]:
ratings.count()

In [ ]:
# transformar a minusculas nombre columnas ratings

ratings = ratings.withColumnRenamed("userId", "userid").withColumnRenamed("movieId", "movieid")

In [ ]:
ratings_scored = ratings.groupBy("movieId").agg(avg("rating").alias("scored"))

In [ ]:
# transformar a minusculas nombre columnas ratings

ratings_scored = ratings_scored.withColumnRenamed("movieId", "movieid")

In [ ]:
ratings_scored.count()

In [ ]:
# muestra aleatoria

ratings_scored.sample(False, 3/ratings_scored.count(), seed=0).limit(3).pandas_api()

In [ ]:
# transformar el campo rating de tipo de dato string a tippo de dato a float 32 bits

ratings = ratings.withColumn('rating', col('rating').cast('float'))

In [ ]:
for col in ratings.columns:
    print(col, "El tipo de dato del campo:", ratings.schema[col].dataType)

In [ ]:
# renombrar el nombre de la columna rating en el ratings con el nombre de scored

ratings = ratings.withColumnRenamed('rating', 'scored')

In [ ]:
#listar valores nulos por columna
from pyspark.sql.functions import col, sum

ratings.select(*(sum(col(c).isNull().cast('int')).alias(c) for c in ratings.columns)).pandas_api()

In [ ]:
# listar dimensiones de dataframe ratings

num_filas = ratings.count()
num_columnas = len(ratings.columns)
print("Las dimensiones del DataFrame ratings son: ({}, {})".format(num_filas, num_columnas))

In [ ]:
# url 

urlAmazon = "https://gitlab.com/perico3372/data/-/raw/main/streaming/amazon_prime_titles.csv"
urlDisneyPlus = "https://gitlab.com/perico3372/data/-/raw/main/streaming/disney_plus_titles.csv"
urlHulu = "https://gitlab.com/perico3372/data/-/raw/main/streaming/hulu_titles.csv"
urlNetflix = "https://gitlab.com/perico3372/data/-/raw/main/streaming/netflix_titles.csv"

In [ ]:
# agregar archivos al contexto

spark.sparkContext.addFile(urlAmazon)
spark.sparkContext.addFile(urlDisneyPlus)
spark.sparkContext.addFile(urlHulu)
spark.sparkContext.addFile(urlNetflix)

In [ ]:
# dataframes

amazon = spark.read.csv(SparkFiles.get("amazon_prime_titles.csv"), header=True, inferSchema=True)
disneyPlus = spark.read.csv(SparkFiles.get("disney_plus_titles.csv"), header=True, inferSchema=True)
hulu = spark.read.csv(SparkFiles.get("hulu_titles.csv"), header=True, inferSchema=True)
netflix = spark.read.csv(SparkFiles.get("netflix_titles.csv"), header=True, inferSchema=True)

In [ ]:
# agregar columna plataform a dataframe 

amazon = titles1.withColumn("platform", lit("amazon"))
disneyPlus = titles2.withColumn("platform", lit("disney"))
hulu = titles3.withColumn("platform", lit("hulu"))
netflix = Netflix.withColumn("platform", lit("netflix"))

In [ ]:
# generar campo id: Cada id se compondrá de la primera letra del nombre de la plataforma, seguido del show_id

from pyspark.sql.functions import concat, lit, col

amazon = titles1.withColumn("show_id", concat(lit("a"), col("show_id")))
disneyPlus = titles2.withColumn("show_id", concat(lit("d"), col("show_id")))
hulu = titles3.withColumn("show_id", concat(lit("h"), col("show_id")))
netflix = titles4.withColumn("show_id", concat(lit("n"), col("show_id")))

In [ ]:
# unir dataframes

titles = amazon.union(disneyPlus).union(hulu).union(netflix)
titles = titles.repartition(1)

In [ ]:
print(titles.columns)

In [ ]:
# Renombrar "type" por "show_type"
titles = titles.withColumnRenamed("type", "show_type")

In [ ]:
# muestra aleatoria

titles.sample(False, 3/titles.count(), seed=150).limit(3).pandas_api()

In [ ]:
# listar dimensiones dataframe titles

numeroColumnasTitles = len(titles.columns)
numeroFilasTitles = titles.count()
print("Las dimensiones del DataFrame titles es de: ({}, {})".format(numeroFilasTitles, numeroColumnasTitles))

In [ ]:
# listar valores nulos por columna

titles.select(*(sum(col(c).isNull().cast('int')).alias(c) for c in titles.columns)).pandas_api()

In [ ]:
# eliminar fila nula, excepto show_id y columnas generadas

titles = titles.na.drop(subset=['show_type'])

In [ ]:
#listar valores nulos por columna

titles.select(*(sum(col(c).isNull().cast('int')).alias(c) for c in titles.columns)).pandas_api()

Los valores nulos del campo rating deberán reemplazarse por el string “G” (corresponde al maturity rating: “general for all audiences”

In [ ]:
titles = titles.fillna({"rating": "G"})

In [ ]:
# listar valores nulos por columna

titles.select(*(sum(col(c).isNull().cast('int')).alias(c) for c in titles.columns)).pandas_api()

In [ ]:
# reemplazar valores nulos de todo el titles por ''

titles = titles.select([when(col(c).isNull(), '').otherwise(col(c)).alias(c) if c != 'id' else col(c) for c in titles.columns])

In [ ]:
# listar valores nulos por columna

titles.select(*(sum(col(c).isNull().cast('int')).alias(c) for c in titles.columns)).pandas_api()

In [ ]:
# muestra aleatoria

titles.sample(False, 3/titles.count(), seed=100).limit(3).pandas_api()

In [ ]:
# muestra aleatoria

titles.sample(False, 3/titles.count(), seed=150).limit(3).pandas_api()

In [ ]:


# contar el número de valores nulos en cada columna
titles.select([count(when(isnan(c) | col(c).isNull(), c)).alias(c) for c in titles.columns]).pandas_api()

In [ ]:
# listar valores nulos por columna

titles.select(*(sum(col(c).isNull().cast('int')).alias(c) for c in titles.columns)).pandas_api()

In [ ]:
# muestra aleatoria

titles.sample(False, 3/titles.count(), seed=150).limit(3).pandas_api()

In [ ]:
# cambiar el formato del campo date_added a AAAA-mm-dd

spark.conf.set("spark.sql.legacy.timeParserPolicy","LEGACY")

titles = titles.withColumn("date_added", date_format(to_date("date_added", "MMMM d, yyyy"), "yyyy-MM-dd"))

In [ ]:
# muestra aleatoria

titles.sample(False, 3/titles.count(), seed=100).limit(3).pandas_api()

In [ ]:
# listar tipo de dato

for col in titles.columns:
    print(col, "es de tipo", titles.schema[col].dataType)

In [ ]:
# transformar a minusculas

columnas = titles.columns

for columna in columnas:
    titles = titles.withColumn(columna, lower(columna))

In [ ]:
# transformar release a tipo de dato entero

from pyspark.sql.functions import col as c

titles = titles.withColumn('release_year', c('release_year').cast('integer'))

In [ ]:
from pyspark.sql.functions import col, to_date

# Convertir la columna 'fecha' a formato fecha yyyy-MM-dd
titles = titles.withColumn('date_added', to_date(col('date_added'), 'yyyy-MM-dd'))

In [ ]:
# muestra aleatoria

titles.sample(False, 3/titles.count(), seed=100).limit(3).pandas_api()

In [ ]:
# convertir duration en dos campos: duration_int y duration_type

from pyspark.sql.functions import split

titles = titles.withColumn("duration_int", split("duration", " ")[0])
titles = titles.withColumn("duration_type", split("duration", " ")[1])

In [ ]:
# muestra aleatoria

titles.sample(False, 3/titles.count(), seed=100).limit(3).pandas_api()

In [ ]:
for col in titles.columns:
    print(col, 'El tipo de dato es:', titles.schema[col].dataType)

In [ ]:
print(titles.columns)

In [ ]:
tableA = titles.select("show_id","show_type", "title","cast","country","release_year", "rating","platform","duration_int")

In [ ]:
tableA = tableA.filter((tableA["show_id"] == "") | tableA["show_id"].cast("string").isNotNull())
tableA = tableA.filter((tableA["show_type"] == "") | tableA["show_type"].cast("string").isNotNull())
tableA = tableA.filter((tableA["title"] == "") | tableA["title"].cast("string").isNotNull())
tableA = tableA.filter((tableA["cast"] == "") | tableA["cast"].cast("string").isNotNull())
tableA = tableA.filter((tableA["country"] == "") | tableA["country"].cast("string").isNotNull())
tableA = tableA.filter((tableA["release_year"] == "") | tableA["release_year"].cast("int").isNotNull())
tableA = tableA.filter((tableA["rating"] == "") | tableA["rating"].cast("string").isNotNull())
tableA = tableA.filter((tableA["platform"] == "") | tableA["platform"].cast("string").isNotNull())
tableA = tableA.filter((tableA["duration_int"] == "") | tableA["duration_int"].cast("int").isNotNull())

In [ ]:
# muestra aleatoria

tableA.sample(False, 100/tableA.count(), seed=10).limit(3).pandas_api()

In [ ]:
import pyspark.pandas as ps

In [ ]:
tableAPandas = tableA.toPandas()

In [59]:
#tableAPandas.to_csv('tableA.csv', index=False)

In [61]:
import sqlite3

In [64]:
# Nombre del archivo de la base de datos SQLite
sqlite_db = "Database.db"

# Escribe el DataFrame de Pandas en la base de datos SQLite
conn = sqlite3.connect(sqlite_db)
tableAPandas.to_sql("tableA", conn, if_exists="replace", index=False)
#df.to_sql("mi_tabla", conn, if_exists="replace", index=False)

conn.close()

print(f"Base de datos SQLite '{sqlite_db}' creada y datos insertados.")

Base de datos SQLite 'Database.db' creada y datos insertados.

In [77]:
import mysql.connector
from mysql.connector import errorcode

In [78]:
import mysql.connector
from mysql.connector import errorcode

# Configura la conexión al servidor MySQL (sin especificar una base de datos)
try:
    conn = mysql.connector.connect(
        host='localhost',     # Reemplaza con la dirección del servidor de MySQL
        user='root',          # Reemplaza con tu nombre de usuario de MySQL
        password='patacon'    # Reemplaza con tu contraseña de MySQL
    )

    # Crea la base de datos si no existe
    cursor = conn.cursor()
    cursor.execute("CREATE DATABASE IF NOT EXISTS streaming_mysql")
    conn.commit()
    cursor.close()

    # Cierra la conexión temporal al servidor MySQL
    conn.close()

except mysql.connector.Error as err:
    if err.errno == errorcode.ER_ACCESS_DENIED_ERROR:
        print("Error: Acceso denegado. Verifica tus credenciales de MySQL.")
    else:
        print(f"Error: {err}")

# Luego de crear la base de datos, puedes continuar con el código anterior para escribir el DataFrame
# en la tabla de la base de datos MySQL.

In [84]:
import pymysql
from sqlalchemy import create_engine

In [88]:
cadenaConexion = "mysql+pymysql://root:patacon@localhost:3306/streaming_mysql"
conexion = create_engine(cadenaConexion)

In [89]:
tableAPandas.to_sql(name = "tableA", con = conexion)

22922

In [76]:
conector = "mysql-connector-java-8.0.17-sources"
# Cargar el conector JDBC de MySQL
spark.sparkContext.addJar(conector)

AttributeError: 'SparkContext' object has no attribute 'addJar'

In [79]:
# Configuración de las opciones de escritura
tableA.write \
    .format("jdbc") \
    .mode("overwrite") \
    .option("url", "jdbc:mysql://{localhost}:{3306}/{streaming_mysql}") \
    .option("dbtable", "tableA") \
    .option("user", "root") \
    .option("password", "patacon") \
    .save()
# mode: "append", "overwrite", "ignore", "error"

Py4JJavaError: An error occurred while calling o2660.save.
: java.sql.SQLException: No suitable driver
	at java.sql/java.sql.DriverManager.getDriver(DriverManager.java:299)
	at org.apache.spark.sql.execution.datasources.jdbc.JDBCOptions.$anonfun$driverClass$2(JDBCOptions.scala:109)
	at scala.Option.getOrElse(Option.scala:189)
	at org.apache.spark.sql.execution.datasources.jdbc.JDBCOptions.<init>(JDBCOptions.scala:109)
	at org.apache.spark.sql.execution.datasources.jdbc.JdbcOptionsInWrite.<init>(JDBCOptions.scala:246)
	at org.apache.spark.sql.execution.datasources.jdbc.JdbcOptionsInWrite.<init>(JDBCOptions.scala:250)
	at org.apache.spark.sql.execution.datasources.jdbc.JdbcRelationProvider.createRelation(JdbcRelationProvider.scala:47)
	at org.apache.spark.sql.execution.datasources.SaveIntoDataSourceCommand.run(SaveIntoDataSourceCommand.scala:48)
	at org.apache.spark.sql.execution.command.ExecutedCommandExec.sideEffectResult$lzycompute(commands.scala:75)
	at org.apache.spark.sql.execution.command.ExecutedCommandExec.sideEffectResult(commands.scala:73)
	at org.apache.spark.sql.execution.command.ExecutedCommandExec.executeCollect(commands.scala:84)
	at org.apache.spark.sql.execution.QueryExecution$$anonfun$eagerlyExecuteCommands$1.$anonfun$applyOrElse$1(QueryExecution.scala:107)
	at org.apache.spark.sql.execution.SQLExecution$.$anonfun$withNewExecutionId$6(SQLExecution.scala:125)
	at org.apache.spark.sql.execution.SQLExecution$.withSQLConfPropagated(SQLExecution.scala:201)
	at org.apache.spark.sql.execution.SQLExecution$.$anonfun$withNewExecutionId$1(SQLExecution.scala:108)
	at org.apache.spark.sql.SparkSession.withActive(SparkSession.scala:900)
	at org.apache.spark.sql.execution.SQLExecution$.withNewExecutionId(SQLExecution.scala:66)
	at org.apache.spark.sql.execution.QueryExecution$$anonfun$eagerlyExecuteCommands$1.applyOrElse(QueryExecution.scala:107)
	at org.apache.spark.sql.execution.QueryExecution$$anonfun$eagerlyExecuteCommands$1.applyOrElse(QueryExecution.scala:98)
	at org.apache.spark.sql.catalyst.trees.TreeNode.$anonfun$transformDownWithPruning$1(TreeNode.scala:461)
	at org.apache.spark.sql.catalyst.trees.CurrentOrigin$.withOrigin(origin.scala:76)
	at org.apache.spark.sql.catalyst.trees.TreeNode.transformDownWithPruning(TreeNode.scala:461)
	at org.apache.spark.sql.catalyst.plans.logical.LogicalPlan.org$apache$spark$sql$catalyst$plans$logical$AnalysisHelper$$super$transformDownWithPruning(LogicalPlan.scala:32)
	at org.apache.spark.sql.catalyst.plans.logical.AnalysisHelper.transformDownWithPruning(AnalysisHelper.scala:267)
	at org.apache.spark.sql.catalyst.plans.logical.AnalysisHelper.transformDownWithPruning$(AnalysisHelper.scala:263)
	at org.apache.spark.sql.catalyst.plans.logical.LogicalPlan.transformDownWithPruning(LogicalPlan.scala:32)
	at org.apache.spark.sql.catalyst.plans.logical.LogicalPlan.transformDownWithPruning(LogicalPlan.scala:32)
	at org.apache.spark.sql.catalyst.trees.TreeNode.transformDown(TreeNode.scala:437)
	at org.apache.spark.sql.execution.QueryExecution.eagerlyExecuteCommands(QueryExecution.scala:98)
	at org.apache.spark.sql.execution.QueryExecution.commandExecuted$lzycompute(QueryExecution.scala:85)
	at org.apache.spark.sql.execution.QueryExecution.commandExecuted(QueryExecution.scala:83)
	at org.apache.spark.sql.execution.QueryExecution.assertCommandExecuted(QueryExecution.scala:142)
	at org.apache.spark.sql.DataFrameWriter.runCommand(DataFrameWriter.scala:859)
	at org.apache.spark.sql.DataFrameWriter.saveToV1Source(DataFrameWriter.scala:388)
	at org.apache.spark.sql.DataFrameWriter.saveInternal(DataFrameWriter.scala:361)
	at org.apache.spark.sql.DataFrameWriter.save(DataFrameWriter.scala:248)
	at java.base/jdk.internal.reflect.NativeMethodAccessorImpl.invoke0(Native Method)
	at java.base/jdk.internal.reflect.NativeMethodAccessorImpl.invoke(NativeMethodAccessorImpl.java:77)
	at java.base/jdk.internal.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:43)
	at java.base/java.lang.reflect.Method.invoke(Method.java:568)
	at py4j.reflection.MethodInvoker.invoke(MethodInvoker.java:244)
	at py4j.reflection.ReflectionEngine.invoke(ReflectionEngine.java:374)
	at py4j.Gateway.invoke(Gateway.java:282)
	at py4j.commands.AbstractCommand.invokeMethod(AbstractCommand.java:132)
	at py4j.commands.CallCommand.execute(CallCommand.java:79)
	at py4j.ClientServerConnection.waitForCommands(ClientServerConnection.java:182)
	at py4j.ClientServerConnection.run(ClientServerConnection.java:106)
	at java.base/java.lang.Thread.run(Thread.java:833)

In [59]:
# Assuming you have a DataFrame named "tableA"
#tableA.write.format("csv").mode('overwrite').option("header", "true").save(os.getcwd())

In [52]:
query_01 = titles.select("title","show_type", "release_year", "duration_int")
query_01.write.format("csv").mode('overwrite').option("header", "true").save("query")

In [53]:
#query.printSchema

In [54]:
# muestra aleatoria

query_01.sample(False, 3/query_01.count(), seed=10).limit(3).pandas_api()

                   title show_type  release_year duration_int
0  star trek: enterprise   tv show          2005            4
1               c.h.u.d.     movie          1984           97
2      light in the dark     movie          2019          105

In [55]:
query_01.count()

23018

In [56]:
query_01.write.format("csv").mode('overwrite').option("header", "true").save("query_01")

In [57]:
query_02 = ratings_scored.join(titles, ratings_scored.movieid == titles.show_id, how="inner").select(ratings_scored.scored, titles.show_type, titles.release_year, titles.platform)

In [58]:
# muestra aleatoria

query_02.sample(False, 3/query_02.count(), seed=10).limit(3).pandas_api()

     scored show_type  release_year platform
0  3.592050     movie          2014  netflix
1  3.499000     movie          2011  netflix
2  3.420949     movie          1995   amazon

In [59]:
query_02.write.format("csv").mode('overwrite').option("header", "true").save("query_02")

In [60]:
query_03 = titles.select("show_id", "show_type", "platform")

In [61]:
# muestra aleatoria

query_03.sample(False, 3/query_03.count(), seed=10).limit(3).pandas_api()

  show_id show_type platform
0   as908   tv show   amazon
1  as2936     movie   amazon
2  ns2514     movie  netflix

In [62]:
query_03.write.format("csv").mode('overwrite').option("header", "true").save("query_03")

In [63]:
query_04 = titles.select("show_type", "cast","platform")

In [64]:
# muestra aleatoria

query_04.sample(False, 3/query_04.count(), seed=10).limit(3).pandas_api()

  show_type                                                                                                              cast platform
0   tv show  scott bakula, jolene blalock, connor trinneer, dominic keating, anthony montgomery, linda park, john billingsley   amazon
1     movie                                                                                          daniel stern, kim greist   amazon
2     movie                  rita dominic, joke silva, ngozi nwosu, kiki omeili, kalu ikeagwu, emmanuel essien, saidi balogun  netflix

In [65]:
query_04.write.format("csv").mode('overwrite').option("header", "true").save("query_04")

In [66]:
query_05 = titles.select("show_id", "show_type", "country", "release_year")

In [67]:
# muestra aleatoria

query_05.sample(False, 3/query_05.count(), seed=10).limit(3).pandas_api()

  show_id show_type  country  release_year
0   as908   tv show                   2005
1  as2936     movie                   1984
2  ns2514     movie  nigeria          2019

In [68]:
query_05.write.format("csv").mode('overwrite').option("header", "true").save("query_05")

In [69]:
query_06 = titles.select("title","rating")

In [70]:
# muestra aleatoria

query_06.sample(False, 3/query_06.count(), seed=10).limit(3).pandas_api()

                   title rating
0  star trek: enterprise  tv-pg
1               c.h.u.d.      r
2      light in the dark  tv-14

In [71]:
query_06.write.format("csv").mode('overwrite').option("header", "true").save("query_06")

In [72]:
query_02.count()

22998

In [ ]:
#dataframe__ = titlesFinal.join(dataFrameSistemaDeRecomendacion, titlesFinal.id == dataFrameSistemaDeRecomendacion.movieid, how='inner')

In [ ]:
#from pyspark.sql.functions import avg

#dataFrame = dataFrameSistemaDeRecomendacionReducido.groupBy('movieid').agg(avg('scored').alias('promedioScored'))

In [ ]:
# cantidad de usuarios

#dataFrameSistemaDeRecomendacion.select(col('userid')).distinct().count()

In [ ]:
# cantidad de peliculas y series

#dataFrameSistemaDeRecomendacion.select(col('movieid')).distinct().count()

In [ ]:
#dataFrameSistemaDeRecomendacion.columns

In [ ]:
# agrupar por movieid y obtener frecuecia

from pyspark.sql.functions import count
from pyspark.sql.functions import max

#cantidadVistasMovieId = dataFrameSistemaDeRecomendacion.groupBy("movieid").agg(count("*").alias("cantidad"))

In [ ]:
# calcular rango intercuatilico

from pyspark.sql.functions import col, expr
from pyspark.sql.window import Window

primerCuartil, tercerCuartil = cantidadVistasMovieId.approxQuantile('cantidad', [0.25, 0.75], 0.01)
rangoIntercuartilico = tercerCuartil - primerCuartil

In [ ]:
print('Primer Caurtil', primerCuartil , 'Tercer Cuartil',tercerCuartil)

In [ ]:
primerCuartil

In [ ]:
limiteInferior = primerCuartil - 1.5 * rangoIntercuartilico
limiteSuperior = tercerCuartil + 1.5 * rangoIntercuartilico

In [ ]:
# calcular cantidad de valores atipicos

valoresAtipicos = cantidadVistasMovieId.filter(expr("cantidad > {0} or cantidad < {1}".format(limiteSuperior, limiteInferior)))
valoresAtipicos.count()

In [ ]:
# movieid a eliminar con frecuencias inferiores a 419

limiteInferior

In [ ]:
# cantidad de movieid inferiores al limite inferior

valoresAtipicosDescartar = cantidadVistasMovieId.filter(expr("cantidad < {0}".format(limiteInferior)))
print('Cantidad de valores atipicos mas bajos al limite inferior:',valoresAtipicosDescartar.count())

In [ ]:
# listar la frecuencia de movieid y eliminar movieid con una frecuencia menor a 419

from pyspark.sql.functions import count

frecuencia = dataFrameSistemaDeRecomendacion.groupBy("movieid").agg(count("*").alias("frequency"))
frecuencia = frecuencia.filter("frequency >= 419")
dataFrameSistemaDeRecomendacionReducido = dataFrameSistemaDeRecomendacion.join(frecuencia, "movieid", "inner").drop("frequency")

In [ ]:
# lineas dataFrameSistemaDeRecomendacion

dataFrameSistemaDeRecomendacion.count()

In [ ]:
# lineas dataFrameSistemaDeRecomendacionReducido

dataFrameSistemaDeRecomendacionReducido.count()

In [ ]:
# Agrupar por movieid y obtener el promedio de scored

from pyspark.sql.functions import avg

dataFrameSistemaDeRecomendacionFinal = dataFrameSistemaDeRecomendacionReducido.groupBy('movieid').agg(avg('scored').alias('promedioScored'))

In [ ]:
dataFrameSistemaDeRecomendacionFinal.count()

In [ ]:
import matplotlib.pyplot as plt

# extraer la columna 'rating' como una lista
ratings = dataFrameSistemaDeRecomendacion.select('rating').rdd.flatMap(lambda x: x).collect()

# mostrar el histograma de la columna
plt.hist(ratings, bins=5)

plt.title('Distribución de calificaciones')
plt.show()

In [ ]:
dataFrameSistemaDeRecomendacionFinal.columns

In [ ]:
dataFrameSistemaDeRecomendacionFinalPandas =dataFramePromedioScored.toPandas()

In [ ]:
reducido.dtypes

In [ ]:
import pickle
from pyspark.sql.functions import udf
from pyspark.sql.types import BinaryType

# Función definida por el usuario para serializar el DataFrame
def pickle_serialize(dataFrameSistemaDeRecomendacionFinal):
    return pickle.dumps(dataFrameSistemaDeRecomendacionFinal)

# Registro de la función udf en PySpark
pickle_udf = udf(pickle_serialize, BinaryType())

# Agregamos una nueva columna al DataFrame con el objeto serializado
dataFrameSistemaDeRecomendacionFinal = dataFrameSistemaDeRecomendacionFinal.withColumn("serialized", pickle_udf(dataFrameSistemaDeRecomendacionFinal))

# Escribimos el DataFrame a un archivo de texto
dataFrameSistemaDeRecomendacionFinal.select("serialized").write.text("dataFrameSistemaDeRecomendacionFinal.pickle")